* {
    margin: 0;
    padding: 0;
}

i {
    color: black;
}

.bg {
    background-image: url(bg.jpg);
    width: 100vw;
    height: 100vh;
}

form {
    border: 1px solid rgb(0, 255, 255);
    box-shadow: .2rem .2rem 1rem 0 rgba(0, 238, 255, 0.993);
    border-radius: .5rem;
    padding: 1rem;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h2 {
    color: rgb(0, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}

input {
    border-color: black;

}
.form-control {
    border-color: rgb(0, 255, 255) !important;
    transition: .5s ease;
}

.form-control:focus {
    border-color: rgb(0, 0, 0) !important;
    box-shadow: 0 0 1rem 0.2rem rgb(0, 255, 255) !important;
}

.user-icon {
    position: relative;
    top: 2rem;
    left: .5rem;
}

button {
    color: rgb(0, 0, 0) !important;
    background: rgb(0, 255, 255) !important;
    font-weight: bold !important;
}

button:hover {
    background: white !important;
    color: rgb(0, 255, 255) !important;
}

.pass-icon {
    position: relative;
    top: 2rem;
    left: .5rem;
}

span {
    color: white;
}

a {
    color: white !important;
    transition: .5s ease !important;
}

a:hover {
    font-size: 1.2rem;
}

a:hover {
    color: rgb(0, 255, 255) !important;
}

span a {
    color: rgb(0, 255, 255) !important;
    text-decoration: none;
    transition: .5s ease;
}
span a:hover {
    font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
    .set-width {
        width: 80%;
    }
}